<Layouts.flash_group flash={@flash} />
<Layouts.app flash={@flash}>
  <h1 class="text-6xl text-emerald-600">Welcome to Game Hub</h1>
  <hr class="my-10" />
  <p>Select your favorite game console</p>
  <form class="flex flex-col gap-4 items-start">
    <select
      name="console"
      id="console"
      class="flex flex-col border rounded min-h-9 min-w-2xs p-3"
    >
      <option value="" disable="true" selected>Select Console</option>
      <option value="pc">PC</option>
      <option value="xbox">XBox</option>
      <option value="ps">Playstation</option>
      <option value="nitendo">Nitendo</option>
    </select>
    <button type="submit" class="bg-sky-700 text-gray-100 w-32 h-8 rounded">Submit</button>
  </form>
  <p>Selected console: {@console}</p>
</Layouts.app>
